Binaries
DerivedDataCache
Intermediate
WeaponEffects
Animations
UE4_Mannequin
StarterContent
Saved
FPS_Weapons_Pack
FPSWeaponPackVol3
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
